body {
  margin: 0;
  padding: 0;
  background: #0a0a0a;
  font-family: "'Noto Sans', sans-serif";
}
.container {
  display: flex;
}
.container > div {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}
#usersDiv {
  color: white;
  position: absolute;
  top: 100px;
  left: 180px;
}
.badge {
  width: 16px;
  margin-right: 2px;
}
#logo {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
}
#map {
  position: relative;
  width: calc(50px * 11 * 0.9);
  height: calc(50px * 11 * 0.9);
}
#mainDiv {
  flex: 3;
  margin: 40px 0;
  width: calc(100vh - 80px);
  height: calc(100vh - 80px);
  position: relative;
  min-width: 1000px;
}
#infoDiv {
  margin-top: 50px;
  flex: 0 375px;
  color: white;
}
.battle {
  display: flex;
}
.battle > div {
  flex: 1;
}
.battle .room {
  flex: 0 0 50px;
}
.battle .ticks {
  text-align: right;
  padding-right: 10px;
}
.battle .class {
  text-align: left;
  flex: 0 0 30px;
}
.battle .badges {
  text-align: left;
  flex: 0 0 48px;
}
.battles-enter-active, .battles-leave-active {
  transition: all 1s ease;
}
.battles-enter, .battles-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
.users-enter-active, .users-leave-active {
  transition: all 1s ease;
}
.users-enter, .users-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
.my-10 {
  margin: 10px 0;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.small {
  font-size: 10pt;
}
.large {
  font-size: 24pt;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}