body {
  margin: 0;
  padding: 0;
  background: #0a0a0a;
  font-family: 'Noto Sans', sans-serif;
}

#app {
  height: 100vh;
  overflow: hidden;
}

#usersDiv {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 420px;
  top: 120px;
}

#mainDiv {
  flex: 3;
  margin: 40px 0;
  width: calc(100vh - 80px);
  height: calc(100vh - 80px);
  position: relative;
  min-width: 1000px;
}

#infoDiv {
  flex: 0 0 0 1;
  padding-left: 20px;
  margin-top: 20px;
  color: white;
  height: 100vh;
  overflow-y: hidden;
}

.battle {
  display: flex;
  flex-direction: row;
}

.battle > div {
  flex: 1;
  height: 20px;
}

.battle .ticks {
  min-width: 100px;
  text-align: right;
  padding-right: 20px;
}

.badge {
  height: 16px;
  width: 16px;
  margin-right: 2px;
}

.flex {
  display: flex;
}

.flex > div {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.my-10 {
  margin: 10px 0;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.small {
  font-size: 10pt;
}

.large {
  font-size: 24pt;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.username {
  min-width: 250px;
}
