body {
  margin: 0;
  padding: 0;
  background: #0a0a0a;
  font-family: 'Noto Sans', sans-serif;
}
#app {
  height: 100vh;
  overflow: hidden;
}
.container {
  display: flex;
}
.container > div {
  flex: 1;
  margin-left: 5px;
  margin-right: 5px;
}
#usersDiv {
  color: white;
  position: absolute;
  top: 100px;
  left: 180px;
}
.badge {
  height: 16px;
  width: 16px;
  margin-right: 2px;
}
#logo {
  position: fixed;
  bottom: 0;
  right: 0;
  color: white;
}
#map {
  position: relative;
  width: calc(50px * 11 * 0.9);
  height: calc(50px * 11 * 0.9);
}
#mainDiv {
  flex: 3;
  margin: 40px 0;
  width: calc(100vh - 80px);
  height: calc(100vh - 80px);
  position: relative;
  min-width: 1000px;
}
#infoDiv {
  margin-top: 20px;
  flex: 0 420px;
  color: white;
  height: 100vh;
  overflow-y: hidden;
}
.battle {
  display: flex;
  flex-direction: row;
}
.battle > div {
  flex: 1;
  height: 20px;
}
.battle .ticks {
  min-width: 100px;
  text-align: right;
  padding-right: 10px;
}
/* .battles-enter-active, .battles-leave-active {
  transition: all 1s ease;
}
.battles-enter, .battles-leave-to {
  opacity: 0;
  transform: translateY(50px);
} */
.users-enter-active, .users-leave-active {
  transition: all 1s ease;
}
.users-enter, .users-leave-to {
  opacity: 0;
  transform: translateY(50px);
}
.flex {
  display: flex;
}
.flex > div {
  flex: 1;
}
.flex-row {
  flex-direction: row;
}
.my-10 {
  margin: 10px 0;
}
.mt-10 {
  margin-top: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.small {
  font-size: 10pt;
}
.large {
  font-size: 24pt;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.username {
  min-width: 250px;
}