body {
  margin: 0;
  padding: 0;
  background: #0a0a0a;
  font-family: 'Noto Sans', sans-serif;
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#mainDiv {
  width: 100vw;
  height: 100vh;
}

#infoDiv {
  position: absolute;
  top: 54%;
  right: 8%;
  width: 24%;
  padding: 20px;
  color: white;
  overflow-y: hidden;
}

.flex {
  display: flex;
}

.flex > div {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.my-10 {
  margin: 10px 0;
}

.mt-10 {
  margin-top: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.small {
  font-size: 10pt;
}

.large {
  font-size: 24pt;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.bold {
  font-weight: bold;
}

[data-complete='true'] {
  color: yellow;
}
